# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-ephemeral/

# Configuración sensible
lib/config.dart


# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/

# Android
android/.gradle/
android/app/release/

# VS Code / IDE
.vscode/
.idea/
*.iml

# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache files
*.[Cc]ache
!*.[Cc]ache/
